{% extends "../_layout-admin.twig" %}

{% block title %}Content{% endblock %}

{% block layoutClass %}admin{% endblock %}

{% block content %}
  <section class="content" role="main">

    <h1 class="page-title">
      <span class="page-title__container">Admin</span>
    </h1>

    <div class="grid">
      <div class="grid__unit grid__unit--1-2-m">
        <h2 class="admin-heading">My Reviews</h2>
        <div class="admin-actions">
          <a href="#0">See all</a>
          <a href="#0">Create new</a>
        </div>
        <ul class="admin-list">
          {% for review in reviews %}
            <li class="admin-list__item">
              <a href="/admin/review/{{ review.slug }}" class="admin-list__name">
                {% if review.is_published %}
                  <span class="admin-list__status admin-list__status--published">Published:</span>
                {% else %}
                  <span class="admin-list__status admin-list__status--unpublished">Unpublished:</span>
                {% endif %}
                <span class="admin-list__title">{{ review.title }}</span>
                {% if review.subtitle %}
                  <span class="admin-list__subtitle">{{ review.subtitle }}</span>
                {% endif %}
              </a>
              <p class="admin-list__date">Created {{ review.created_at }}, published {{ review.published_at }}</p>
              {% if review.summary %}
                <p class="admin-list__description">{{ review.summary }}</p>
              {% endif %}
              <p class="admin-list__actions">
                <a href="/reviews/{{ review.slug }}">View</a>
                {% if review.is_published %}
                  <a href="/admin/reviews/unpublish/{{ review.id }}">Unpublish</a>
                {% else %}
                  <a href="/admin/reviews/publish/{{ review.id }}">Publish</a>
                {% endif %}
                <a href="/admin/reviews/delete/{{ review.id }}">Delete</a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="grid__unit grid__unit--1-2-m">
        <h2 class="admin-heading">My Posts</h2>
        <div class="admin-actions">
          <a href="#0">See all</a>
          <a href="#0">Create new</a>
        </div>
        <ul class="admin-list">
          {% for post in posts %}
            <li class="admin-list__item">
              <a href="/admin/posts/{{ post.slug }}" class="admin-list__name">
                {% if post.is_published %}
                  <span class="admin-list__status admin-list__status--published">Published:</span>
                {% else %}
                  <span class="admin-list__status admin-list__status--unpublished">Unpublished:</span>
                {% endif %}
                <span class="admin-list__title">{{ post.title }}</span>
                {% if post.subtitle %}
                  <span class="admin-list__subtitle">{{ post.subtitle }}</span>
                {% endif %}
              </a>
              <p class="admin-list__date">Created {{ post.created_at }}, published {{ post.published_at }}</p>
              {% if post.summary %}
                <p class="admin-list__description">{{ post.summary }}</p>
              {% endif %}
              <p class="admin-list__actions">
                <a href="/articles/{{ post.slug }}">View</a>
                {% if post.is_published %}
                  <a href="/admin/posts/unpublish/{{ post.id }}">Unpublish</a>
                {% else %}
                  <a href="/admin/posts/publish/{{ post.id }}">Publish</a>
                {% endif %}
                <a href="#0">Delete</a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
