{% extends "../_layout-admin.twig" %}

{% block title %}Edit a Review{% endblock %}

{% block layoutClass %}admin{% endblock %}

{% block content %}
  <section class="content" role="main">

    <h1 class="page-title">
      <span class="page-title__container">Edit a Review</span>
    </h1>

    <div class="page-width">
      <select name="distillery">
        {% for distillery in distilleries %}
          <option value="{{ distillery.id }}">{{ distillery.name }}</option>
        {% endfor %}
      </select>

      <select name="drinkType">
        {% for drinkType in drinkTypes %}
          <option value="{{ drinkType.id }}">{{ drinkType.singular }}</option>
        {% endfor %}
      </select>

      <select name="rarity">
        {% for rarity in rarities %}
          <option value="{{ rarity.id }}">{{ rarity.name }}</option>
        {% endfor %}
      </select>

      <select name="region">
        {% for region in regions %}
          <option value="{{ region.id }}">{{ region.name }}</option>
        {% endfor %}
      </select>
    </div>
  </section>
{% endblock %}
