{% extends "../_layout.twig" %}

{% block title %}Reviews{% endblock %}

{% block layoutClass %}list{% endblock %}

{% block content %}
  <section class="content" role="main">

    <h1 class="page-title">
      <span class="page-title__container">Reviews <span class="page-title__links">See also: <a href="/review-ethics">Review ethics</a></span></span>
    </h1>

    <div class="list-active-filters" id="list-active-filters">
      <p>
        {% if not appliedFilters is empty %}
          Showing

          {% if appliedFilters.rarity %}
            <a href="{{ path }}{{ modifyQueryString({ rarity: null }) }}">{{ appliedFilters.rarity }}</a>
          {% endif %}

          {% if appliedFilters.drinkType %}
            <a href="{{ path }}{{ modifyQueryString({ type: null }) }}">{{ appliedFilters.drinkType }}</a>
          {% else %}
            all whiskies
          {% endif %}

          {% if appliedFilters.region %}
            from
            <a href="{{ path }}{{ modifyQueryString({ region: null }) }}">{{ appliedFilters.region }}</a>
          {% endif %}

          {% if appliedFilters.minProof and appliedFilters.maxProof %}
            <span class="list-active-filters__clause">
              between
              <a href="{{ path }}{{ modifyQueryString({ minproof: null }) }}">{{ appliedFilters.minProof }}</a>
              and
              <a href="{{ path }}{{ modifyQueryString({ maxproof: null }) }}">{{ appliedFilters.maxProof }}</a>
              proof
            </span>
          {% elseif appliedFilters.minProof %}
            <span class="list-active-filters__clause">
              <a href="{{ path }}{{ modifyQueryString({ minproof: null }) }}">at least {{ appliedFilters.minProof }} proof</a>
            </span>
          {% elseif appliedFilters.maxProof %}
            <span class="list-active-filters__clause">
              <a href="{{ path }}{{ modifyQueryString({ maxproof: null }) }}">{{ appliedFilters.maxProof }} proof at most</a>
            </span>
          {% endif %}

          {% if appliedFilters.minAge and appliedFilters.maxAge %}
            <span class="list-active-filters__clause">
              between
              <a href="{{ path }}{{ modifyQueryString({ minage: null }) }}">{{ appliedFilters.minAge }}</a>
              and
              <a href="{{ path }}{{ modifyQueryString({ maxage: null }) }}">{{ appliedFilters.maxAge }}</a>
              years of age
            </span>
          {% elseif appliedFilters.minAge %}
            <span class="list-active-filters__clause">
              <a href="{{ path }}{{ modifyQueryString({ minage: null }) }}">at least {{ appliedFilters.minAge }} years old</a>
            </span>
          {% elseif appliedFilters.maxAge %}
            <span class="list-active-filters__clause">
              <a href="{{ path }}{{ modifyQueryString({ maxage: null }) }}">at most {{ appliedFilters.maxAge }} years old</a>
            </span>
          {% endif %}

          {% if appliedFilters.minPrice and appliedFilters.maxPrice %}
            <span class="list-active-filters__clause">
              that cost between
              <a href="{{ path }}{{ modifyQueryString({ minprice: null }) }}">${{ appliedFilters.minPrice }}</a>
              and
              <a href="{{ path }}{{ modifyQueryString({ maxprice: null }) }}">${{ appliedFilters.maxPrice }}</a>
            </span>
          {% elseif appliedFilters.minPrice %}
            <span class="list-active-filters__clause">
              that cost
              <a href="{{ path }}{{ modifyQueryString({ minprice: null }) }}">at least ${{ appliedFilters.minPrice }}</a>
            </span>
          {% elseif appliedFilters.maxPrice %}
            <span class="list-active-filters__clause">
              that cost
              <a href="{{ path }}{{ modifyQueryString({ maxprice: null }) }}">up to ${{ appliedFilters.maxPrice }}</a>
            </span>
          {% endif %}

          {% if appliedFilters.sort %}
            {% if appliedFilters|length > 3 %}
              <span class="unkerned-punctuation">,</span> all
            {% endif %}
            in order of <a href="{{ path }}{{ modifyQueryString({ sort: null }) }}">{{ appliedFilters.sort }}</a>
          {% endif %}
          <span class="unkerned-punctuation">.</span>

          {% if appliedFilters|length > 1 %}
            <a href="{{ path }}">Show everything</a> again?
          {% endif %}

        {% else %}
          Showing all whiskey reviews
        {% endif %}
      </p>
    </div>

    <button class="list-filters__toggle" data-toggle-target="next"><span class="toggle-inactive-text">Show</span> <span class="toggle-active-text">Hide</span> filters</button>

    <aside class="list-filters list-filters__toggle__target">
      <form action="{{ path }}{{ modifyQueryString({}) }}" method="get">

        <div id="list-link-filters">
          <div class="list-filters__facet">
            <h4 class="list-filters__label">Sort by</h4>
            <ul class="list-filters__choices">
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'best' }) }}">My favorite</a></li>
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'worst' }) }}">My least favorite</a></li>
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'cheapest' }) }}">Cheapest</a></li>
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'priciest' }) }}">Priciest</a></li>
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'hottest' }) }}">Hottest</a></li>
              <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ sort: 'oldest' }) }}">Oldest</a></li>
            </ul>
          </div>

          <div class="list-filters__facet">
            <h4 class="list-filters__label">Type</h4>
            <ul class="list-filters__choices">
              {% for drinkType in drinkTypes %}
                <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ type: drinkType.id }) }}">{{ drinkType.singular }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="list-filters__facet">
            <h4 class="list-filters__label">Rarity</h4>
            <ul class="list-filters__choices">
              {% for rarity in rarities %}
                <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ rarity: rarity.id }) }}">{{ rarity.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="list-filters__facet">
            <h4 class="list-filters__label">Region</h4>
            <ul class="list-filters__choices">
              {% for region in regions %}
                <li class="list-filters__choice"><a href="{{ path }}{{ modifyQueryString({ region: region.id }) }}">{{ region.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="list-filters__facet">
          <h4 class="list-filters__label">Proof</h4>

          <div class="range-group">
            <input type="range" name="minproof" id="minproof" min="80" max="200" value="80" step="1" data-unit="°" data-min-constrain="maxproof" />
            <input type="range" name="maxproof" id="maxproof" min="80" max="200" value="200" step="1" data-unit="°" data-max-constrain="minproof" />
          </div>

          <div class="list-filters__range-label">
            <output for="minproof"></output>
            &ndash;
            <output for="maxproof"></output>
          </div>
        </div>

        <div class="list-filters__facet">
          <h4 class="list-filters__label">Age</h4>

          <div class="range-group">
            <input type="range" name="minage" id="minage" min="0" max="20" value="0" step="1" data-min-constrain="maxage" data-min-label="Unknown" data-max-label="Infinity" />
            <input type="range" name="maxage" id="maxage" min="0" max="20" value="30" step="1" data-unit=" years" data-max-constrain="minage" data-min-label="Unknown" data-max-label="Infinity" />
          </div>

          <div class="list-filters__range-label">
            <output for="minage"></output>
            &ndash;
            <output for="maxage"></output>
          </div>
        </div>

        <div class="list-filters__facet">
          <h4 class="list-filters__label">MSRP</h4>

          <div class="range-group">
            <input type="range" name="minprice" id="minprice" min="0" max="200" value="0" step="10" data-min-constrain="maxprice" data-max-label="lots" />
            <input type="range" name="maxprice" id="maxprice" min="0" max="200" value="300" step="10" data-max-constrain="minprice" data-max-label="lots" />
          </div>

          <div class="list-filters__range-label">
            $<output for="minprice"></output>
            &ndash;
            <output for="maxprice"></output>
          </div>
        </div>

        <button type="submit" class="list-filters__submit">Apply</button>
      </form>
    </aside>

    <ul class="article-list" id="article-list">
      {% for review in reviews %}
        <li class="article-list__item">
          <a href="/reviews/{{ review.slug }}" class="article-card">
            <div class="article-card__image" style="background-image: url('{{ review.list_image }}')"></div>
            <h2 class="article-card__title">
              {{ review.title }}
              <span class="article-card__subtitle">{{ review.subtitle }}</span>
            </h2>
            <p class="article-card__summary">{{ review.summary }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>

  </section>
{% endblock %}
